select{
    width: 70px;
    height: 30px;
    appearance: none;
    background: url(../../../img/down-icon.svg);
    background-position: right 30px center;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    border: none;
    outline: none;
    color: #fff;

}

.header__navbar{
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navbar__box{
    display: flex;
    align-items: center;
    gap: 20px;
}